doctype html
html
    head
        title= title
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="/styles/default.css")

    body
        block content

        if !renderSettings.useExternalStyles
            script(src=renderSettings.scriptRoot + "/vendor.js")
            script(src=renderSettings.scriptRoot + "/app.js")